In [1]:
age = 42
age

42

In [2]:
first_name = 'Siddhartha'
first_name

'Siddhartha'

In [13]:
last_name = '''Danna can\'t swim
multi-line string
not a problem
'''
print(last_name)

Danna can't swim
multi-line string
not a problem

In [14]:
last_name

"Danna can't swim\nmulti-line string\nnot a problem\n"

In [15]:
display(last_name)

"Danna can't swim\nmulti-line string\nnot a problem\n"

In [16]:
vincent = """Vincent 
the man
Danna"""
vincent

'Vincent \nthe man\nDanna'

In [17]:
age

42

In [18]:
age + 5

47

In [19]:
vincent

'Vincent \nthe man\nDanna'

In [20]:
vincent[0]

'V'

In [21]:
vincent[0:6]

'Vincen'

In [22]:
vincent[6:12]

't \nthe'

In [23]:
vincent[0:6] + vincent[6:12]

'Vincent \nthe'

In [24]:
Vincent

NameError: name 'Vincent' is not defined

In [25]:
initial = 'left'
position = initial
initial = 'right'
position

'left'

In [26]:
a = 123
a[1]

TypeError: 'int' object is not subscriptable

In [27]:
atom_name = 'carbon'
display('atom_name[1:3] is ', atom_name[1:3] )

'atom_name[1:3] is '

'ar'

In [28]:
atom_name[3:]

'bon'

In [29]:
atom_name[:3]

'car'

In [30]:
atom_name[:-3]

'car'

In [31]:
atom_name[-1]

'n'

In [32]:
atom_name[-1:]

'n'

In [33]:
atom_name[:-1]

'carbo'

In [34]:
atom_name[3] = 't'

TypeError: 'str' object does not support item assignment

In [38]:
atom_name = 'carbon'
third_letter_of_atom_name = atom_name[3]
third_letter_of_atom_name

'b'

In [39]:
x = 2
y = x
# Dont assign more than one value to a variable ever
x = 3
y

2